.Submit {
    font-size: 1.8rem;
    padding: 5px 16px 7px;
    display: block;
    margin: 1rem;
    border-radius: 4px;
    background: var(--deep-pink);
    color: var(--off-white);
    cursor: pointer;
    transition: all .5s;
}

.Submit:hover {
    background: var(--bright-pink);
}