.Fieldset {
    border: 1px solid var(--pink);
    border-radius: 4px;
    margin: 0 0 1rem;
    background: var(--light-pink);
    padding: .3rem 1rem 1rem;
}
.Legend {
    font-size: 1.25rem;
    background: var(--pink);
    border-radius: 4px;
    padding: 3px 9px 4px;
    color: var(--off-white);
}