.Body {
    background-color:var(--off-white);
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 130%;
}

/* Global Typograhy */

:global(h1) {
    font-size: 2.6rem;
    font-weight: 300;
    color: rgb(109, 36, 76);
    font-family: 'Petit Formal Script', serif;
} 
:global(h2) {
    font-size: 2.2rem;
    font-weight: 300;
    color: rgb(109, 36, 76);
} 
:global(h3) {
    font-size: 1.8rem;
    font-weight: 300;
    color: rgb(109, 36, 76);
} 
:global(h4) {
    font-size: 1.5rem;
    font-weight: 300;
} 
:global(h5) {
    font-size: 1.25rem;
    font-weight: 300;
} 
:global(h6) {
    font-size: 1.25rem;
    font-weight: 300;
} 

:global(a), :global(a:visited) {
    color: #fd6ebc;
}

:global(a:active) {
    color: rgb(109, 36, 76);
}

:global(b), :global(strong) {
    font-weight: 500;
}
:global(ul) {
    padding-left: 1.5rem;
}
:global(li::marker) {
    color: var(--pink);
    font-size: .9rem;
}

@media (hover) {
    :global(a:hover) {
        color: rgb(109, 36, 76);
    }
}