:root {
    --off-white: #f4f4f4;
    --med-gray: #555555;
    --light-pink: #f5dee4;
    --pink: #dc91a6;
    --deep-pink: rgb(109, 36, 76);
    --bright-pink: #fd6ebc;
    --navy-blue: #123070;
    --gold: rgb(255, 224, 121);
    --med-gold: rgb(231, 191, 59);
}