/* Colors */

@value _off_white: #f4f4f4;
@value _med_gray: #555555;
@value _light_pink: #f5dee4;
@value _pink: #dc91a6;
@value _deep_pink: rgb(109, 36, 76);
@value _bright_pink: #fd6ebc;

/* Layout variables */

@value _innerwidth: 760px;

/* Media query breaks */

@value _mediumwidth: 760px;
@value _menuwidth: 975px;
@value _widescreen: 1200px;

:root {
    --innerwidth: 760px;
    --menuwidth: 975px;
    --widescreen: 1200px;
}