@value variables: "../../../styles/variables.css";
@value _h1, _menuwidth from variables;

.Pagetitle {
    color: #fff;
    font-size: 2.6rem;
    font-family: 'Petit Formal Script', serif;
    display: inline-block;
    text-align: center;
    position: absolute;
    font-weight: 100;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    line-height: 100%;
}

@media (min-width: _menuwidth) {
    
    .Pagetitle {
        width: 10rem;
        font-size: 3rem;
        top: 40%;
    }

}