@value variables: "../../styles/variables.css";
@value _off_white, _body_text_color, _pink, _deep_pink, _med_gray, _menuwidth from variables;

.Mainnav {
    height: 100%;
}

.MainnavList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.MainnavListItem {
    margin: 0;
    flex: 0 0 auto;
    display: block;
}

.Link, .Link:visited {
    text-decoration: none;
    color: #fff;
    margin: 0.8rem;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: all .5s;
    padding: .2rem 0;
    font-size: 1.5rem;
}
@media (hover) {
    .Link:hover {
        border-bottom: 1px solid #fff;
    }
}

.Active, .Active:hover {
    border-bottom: 1px solid #fff !important;
}


@media (min-width: _menuwidth) {
    
    .MainnavList {
        flex-direction: row;
    }

    .Active, .Active:hover {
        border-bottom: 1px solid transparent !important;
        color: _deep_pink !important;
    }

    .Link, .Link:visited {
        font-size: 1.2rem;
        margin: 0.9rem 0.7rem;
    }

}