@value variables: "../../styles/variables.css";
@value _off_white, _body_text_color, _pink, _med_gray, _menuwidth from variables;

.Button {
    border-radius: 4px;
    background: _off_white;
    color: _med_gray;
    padding: .5rem 1rem;
    margin: 1rem;
    transition: all;
    cursor: pointer;
    font-weight: 200;
    font-size: 1.2rem;
}
.Button:hover {
    background: #fff;
}