@value variables: "../../styles/variables.css";
@value _off_white, _body_text_color, _pink, _med_gray, _menuwidth from variables;

.Navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 80px;
    background: _pink;
    display: flex;
    justify-content: space-between;
}

.Logo {
    flex: 1 1 80%;
    padding: 10px;
}

.Mainnav {
    display: none;
}

.Menubtn {
    flex: 1 1 20%;
    padding: 10px;
}

@media (min-width: _menuwidth) {
    .Mainnav {
        padding: 10px;
        display: block;
        flex: 1 1 60%;
        padding: 10px;
    }
    .Menubtn {
        display: none;
    }
    .Logo {
        flex: 1 1 40%;
    }
}