@value variables: "../../styles/variables.css";
@value _menuwidth from variables;

.Footer {
    background: var(--navy-blue);
    color: var(--off-white);
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.Footer > div {
    padding: .5rem;
}

.Footer a, .Footer a:visited {
    color: var(--off-white);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all .5s;
    display: inline-block;
    margin-bottom: .3rem;
}
.Footer a:hover {
    border-bottom: 1px solid #fff;
    color: var(--gold);
}

.Copyright {
}

.Footernav ul, .Socialnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Footernav li, .Socialnav li {
    padding: 0;
}

.Socialnav {
    width: 45%;
} 

.Socialnav span {
    position: relative;
    bottom: .2rem;
    margin-left: .5rem;
}

@media (min-width: _menuwidth) {

    .Footer {
        font-size: 1rem;
        padding: 1rem .5rem;
    }

    .Footernav ul, .Socialnav ul {
        flex-direction: row;
    }

    .Footernav li, .Socialnav li {
        padding: 0 0.5rem;
    }

    .Socialnav {}
   
}